<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504376830547-506dedfe1fe9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);">
  <div class="container">
    <h1>La Bourse de Stockage 2.0, <strong>la solution</strong> à vos besoins de <strong>transit</strong> et <strong>stockage longue durée</strong>!</h1>
    <p> Gagnez en souplesse, sérénité et réactivité grâce à nos partenaires.</p>
    <%= link_to "Découvrir", new_user_registration_path, class: "btn btn-gradient" %>
  </div>
</div>

<div class="cards row">
  <div class="card-category col-md-4 mb-3">
    <h2>Simple</h2>
    <p>Une seule plateforme pour vos besoins ponctuels de stockage</p>
  </div>

  <div class="card-category col-md-4 mb-3">
    <h2>Rapide</h2>
    <p>Réservez un espace de stockage en quelques clics</p>
  </div>

  <div class="card-category col-md-4 mb-3">
    <h2>Efficace</h2>
    <p>Optimisez votre espace de stockage et/ou trouvez un emplacement</p>
  </div>
</div>
