.cards {
  justify-content: space-around;
  align-items: center;
  background-color: #DDE3E0;
  padding: 50px 0;
}

.card-category {
  width: 400px;
  text-align: center;
}

.card-category h2{
  color: #FF7247;
  font-size: 32px;
  font-weight: bolder;
  font-style: italic;
}
.card-category p {
  font-size: 24px;
  font-weight: lighter;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.unavailable {
  background-color: rgb(180, 180, 180);

  li {
    background-color: rgb(180, 180, 180);
  }
}

.unavailable-strip {
  top: 7em;
  right: -5.2em;
  color: #fff;
  display: block;
  position:absolute;
  text-align: center;
  text-decoration: none;
  letter-spacing: .08em;
  border-radius: 4px;
  background-color: #A00;
  padding: 0.5em 11em ;
  text-shadow: 0 0 0.75em #444;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
  font: bold 16px/1.2em Montserrat, Sans-Serif;
  -webkit-text-shadow: 0 0 0.75em #444;
  -webkit-box-shadow: 0 0 0.5em
  rgba(0,0,0,0.5);
  -webkit-transform: rotate(40deg) scale(0.75,1);
  z-index:10;
}
